table {
    width: 100%;
}

.mat-cell {
    padding: 8px 8px 8px 0;
}

.example-form .example-full-width {
    width: 100%
}

.filter-icon {
    padding-right: 8px;
}

.container {
    margin: 16px;
    margin-top: 0;
}

.mat-title {
    margin: 0;
    margin-left: 8px;
}

.header {
    margin: 8px
}

.mat-elevation-z8 {
    overflow: hidden;
    border-radius: 4px;
}

.mobileTitle {
    margin-top: 8px;
}