table {
    width: 100%;
}

.mat-cell {
    padding: 8px 8px 8px 0;
}


.header {
    padding-bottom: 8px;
}

.example-form .example-full-width {
    width: 100%
}

.mat-card-title {
    margin: 0;
}

