table {
    width: 100%;
}

.mat-cell {
    padding: 8px 8px 8px 0;
}

.mat-card {
    padding-top: 6px;
}

.header {
    padding-bottom: 8px;
}

.example-form .example-full-width {
    width: 100%
}

.mat-card-title {
    margin: 10px 0px 0px 0px;
}

.filter-icon {
    padding-right: 8px;
}

