/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { 
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background: #e2e2e2;
}

.table-primary {
    color: #3f51b5;
}

.table-accent {
    color: #ff4081;
}

.table-warn {
    color: #f44336;
}

.table-safe {
    color: #388E3C
}

.mat-title {
    margin: 0;
}
