.dialog-buttons {
    padding-bottom: 24px;
}

.example-form .example-full-width {
    width: 100%
}

.edit-form {
    width: 100%;
    margin-top: 8px;
}

.mat-slide-toggle {
    margin-bottom: 8px;
}

.example-margin {
    margin: 0 10px;
}

.mat-dialog-content {
    max-height: inherit;
}

.mat-expansion-panel-header {
    font-size: 14px;
    font-weight: 400;
    height: 48px;
}