.sidenav-container {
    height: 100%;
}
  
.sidenav {
    width: 184px;
}

.sidenav .mat-toolbar {
    background: inherit;
}

.mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
    z-index: 1;
}

.mat-headline {
    margin: 0;
    padding-left: 16px;
}