@import 'variables';

.sidenav-container {
    height: 100%;
}
  
.sidenav {
    width: 184px;
    background-color: $primary;
}

.sidenav .mat-toolbar {
    background: inherit;
    color: #FFF;
}

.mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
    z-index: 2;
}

.mat-headline {
    margin: 0;
    padding-left: 12px;
    padding-bottom: 2px;
}

.navi-email {
    font-size: 14px;
}

.list-icon {
    padding-right: 8px;
}

.mat-menu-item .mat-icon {
    margin-right: 8px;
}

.mat-nav-list .mat-list-item {
    color: #FFF;
}

.active-list-item {
    color: #000000de !important;
    background-color: #FFF !important;
    border-radius: 4px;
}

.mat-nav-list .mat-list-item:hover {
    background-color: inherit;
}

.mat-nav-list .mat-list-item:focus {
    background-color: inherit;
    border-radius: 4px;
}

.user {
    color: #FFF;
    padding: 16px;
    padding-right: 4px;
    font-size: 16px;
}

.mat-drawer-side {
    border-right: 0;
}

.mat-nav-list {
    padding-right: 6px;
    padding-left: 6px;
}

::ng-deep .mat-list-item-content {
    padding: 0 14px !important;
}
