<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport
        [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'"
        [opened]="(isHandset$ | async) === false">
      <mat-toolbar>メニュー</mat-toolbar>
      <mat-nav-list>
        <a mat-list-item [routerLink]="['/home/member']"><mat-icon>group</mat-icon>メンバー情報</a>
        <a mat-list-item [routerLink]="['/home/statusList']"><mat-icon>directions_run</mat-icon>在外室一覧</a>
        <a mat-list-item [routerLink]="['/home/log']"><mat-icon>description</mat-icon>ログ</a>
        <a mat-list-item [routerLink]="['/home/nfc']"><mat-icon>nfc</mat-icon>カードID</a>
        <a mat-list-item [routerLink]="['/home/deviceList']"><mat-icon>device_hub</mat-icon>デバイス一覧</a>
        <a mat-list-item [routerLink]="['/home/account']"><mat-icon>account_circle</mat-icon>アカウント</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar color="primary">
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <span class="mat-headline">DDLDoor</span>
        <span class="navi-email" fxFlexOffset="auto">
          {{email}}
          <button
            type="button"
            mat-icon-button
            (click)="onLogout()">
            <mat-icon>logout</mat-icon>
          </button>
        </span>
      </mat-toolbar>
      <ng-content></ng-content>
    </mat-sidenav-content>
  </mat-sidenav-container>
  