table {
    width: 100%;
}

.mat-cell {
    padding: 8px 8px 8px 0;
}

.mat-card {
    padding-top: 6px;
}

.example-form .example-full-width {
    width: 100%
}

.mat-card-title {
    margin: 10px 0px 0px 0px;
}

.filter-icon {
    padding-right: 8px;
}

.example-margin {
    margin: 0 10px;
}

.container {
    margin: 16px;
}

.mat-title {
    margin: 0;
    margin-left: 8px;
}

.header {
    margin: 0 8px;
}

.mat-elevation-z8 {
    overflow: hidden;
    border-radius: 4px;
}