.dialog-buttons {
    padding-bottom: 24px;
}

.example-form .example-full-width {
    width: 100%
}

.mat-radio-button ~ .mat-radio-button {
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 16px;
}

.edit-form {
    width: 100%;
    margin-top: 8px;
}