.example-full-width {
   width: 100%;
}

.mat-card-title {
    margin: 0;
    padding-bottom: 16px;
}

.mat-card-header .mat-card-title {
    margin-bottom: 0;
}

.password {
    font-size: 16px;
}

table {
    width: 100%;
}

.filter-icon {
    padding-right: 8px;
}

.danger-zone {
    color: #f44336;
}

.info {
    margin: 0;
}

