<mat-card class="data-card">
    <mat-card-header class="header">
        <mat-card-title class="mat-title">アカウント</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div fxLayout="column">
            <div fxLayout="row" fxFlexOffset="auto" fxLayoutAlign="center center" fxLayoutGap="24px">
                <span>
                    <mat-label>アカウント名</mat-label>
                    <input matInput>
                    <button mat-raised-button (click)="onSave()">更新</button>
                </span>
                <span>
                    <mat-label>メールアドレス</mat-label>
                    <input matInput>
                </span>
            </div>
            <mat-divider></mat-divider>
            <div fxLayout="row" fxFlexOffset="auto" fxLayoutAlign="center center" fxLayoutGap="24px">
                <span>
                    <mat-label>登録するメールアドレス</mat-label>
                    <input matInput>
                    <button mat-raised-button color="accent" (click)="onChangePW()">アカウント生成</button>
                </span>
            </div>
        </div>
    </mat-card-content>
</mat-card>
  

