@import 'variables';

.example-full-width {
   width: 100%;
}

.mat-card-title {
    margin: 0;
    padding-bottom: 16px;
}

.password {
    font-size: 16px;
}

table {
    width: 100%;
}

.filter-icon {
    padding-right: 8px;
}

.danger-zone {
    color: $warn;
    border: solid;
}

.info {
    margin: 0;
}

.mat-card-content {
    margin-top: 16px;
    margin-left: 8px;
}

.full-width {
    width: 100%;
}

.mat-card-header .mat-card-title {
    margin-bottom: 0;
}

.message {
    width: 100%;
}

.action-btn {
    margin-top: 8px;
}
