.clock {
    font: 400 48px/56px Noto Sans JP;
}

.spacer {
    margin-top: 16px;
    margin-bottom: 16px;
}

.warning {
    vertical-align: bottom;
    margin-right: 4px;
}

.mat-dialog-actions {
    margin-bottom: -16px;
}

.full-width {
    width: 100%;
}