<h2 mat-dialog-title>手動打刻</h2>
<div mat-dialog-content>
    <div fxLayout="column" fxLayoutGap="24px">
        <div>
            <p>{{data.name}}さん</p>
            <p><mat-icon class="warning">warning</mat-icon>手動打刻は状態管理の対象外です</p>
            <mat-form-field class="full-width">
                <mat-label>デバイス</mat-label>
                <mat-select [(ngModel)]="deviceId">
                    <mat-option *ngFor="let device of deviceOptions" [value]="device.id">
                        {{device.view}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div>
            <span fxLayout="row" fxLayoutAlign="center center" class="clock">
                {{clock}}
            </span>
        </div>
        <div class="spacer">
            <span fxLayout="row" fxLayoutAlign="center center">
                <button mat-fab type="button" color="warn" (click)="onStamp()"><mat-icon>pets</mat-icon></button>
            </span>
        </div>
    </div>
</div>
<div mat-dialog-actions align="end">
    <button mat-button (click)="onCancel()">キャンセル</button>
</div>