@import 'variables';

.container {
    margin: 16px;
    margin-top: 0;
}

.table-container {
    height: calc(100vh - 140px);
    //height: 100%;
    width: 100%;
    //max-width: 100%;
    overflow: auto;
}

.mat-title {
    margin: 0;
    margin-left: 8px;
}

table {
    width: 100%;
}

.mat-cell {
    text-align: center;
    border-right: 1px solid #e0e0e0;
}

.mat-header-cell {
    text-align: center;
    border-right: 1px solid #e0e0e0;
}

.w-header {
    min-width: 40px;
}

.w-data {
    min-width: 120px;
}

th.mat-header-cell:first-of-type, td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type {
    padding-left: 0;
}

th.mat-header-cell:last-of-type, td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type {
    padding-right: 0;
}

.date-data {
    font-size: 12px;
    font-weight: 500;
    color: rgba(0,0,0,.54);
}

.workHours-data {
    margin-top: 4px;
    margin-bottom: 4px;
    padding: 4px;
}

.header {
    margin: 8px;
}

table {
    overflow: auto;
    border-radius: 0;
}

.saturday {
    background-color: $saturday;
    border-bottom: 1px solid #e0e0e0;
}

.sunday {
    background-color: $sunday;
    border-bottom: 1px solid #e0e0e0;
}
