<div class="mainArea">
    <div class="button1">
      <span class="col-1" style="display: inline-block; width: 800px">Reading a FeliCa Card (ICS-E008/10 : Sample 5 Format)</span>
      <button id="FeliCa" (click)="felica_card()">Execute</button>
    </div>
    <br><br>
    <div class="detect">
      <div id="detect-title" class="detect-title" style="display: inline;"></div><br>
      <div id="detect" class="detect-info" style="display: inline;"></div>
    </div>
    <br>
    <div class="communicate">
      <div id="communicate-title" class="communicate-title" style="display: inline;"></div><br>
      <div id="communicate" class="communicate-response" style="display: inline;"></div>
    </div>
  </div>